* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
}

body {
    background-color: #262626;
    min-height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.4rem;
    color: white;
    margin-top: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 160px;
    width: 160px;
}

.login {
    position: absolute;
    justify-content: center;
    top: 90px; 
    right: 270px; 
    height: 45px;    
    width: 45px;
    border-radius: 50%; 
    background-color: #f70e1d;
    border: 3px solid white;
    object-fit: cover; 
    cursor: pointer;
    z-index: 1000;   
}

.login:hover {
    background-color: #b90410;
}

.login a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px; 
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
    flex: 1 1 300px;
}

.card img {
    height: 330px;
    width: 330px;
    border-radius: 15px;
    object-fit: cover;
}

.card p {
    color: white;
    text-align: center;
    font-size: 1.7rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    padding: 10px 90px 10px 90px;
    background-color: #f70e1d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #f70e1eb6;
    transform: scale(1.05);
}

button a {
    text-decoration: none;
    color: white;
}